Source: ocaml-libvirt
Section: libdevel
Priority: extra
Maintainer: Debian Libvirt Maintainers <pkg-libvirt-maintainers@lists.alioth.debian.org>
Uploaders: Guido Guenther <agx@sigxcpu.org>, Sylvain Le Gall <gildor@debian.org>
Build-Depends: cdbs, debhelper (>= 6), autotools-dev, libvirt-bin, ocaml-nox,
 ocaml-findlib, quilt, libvirt-dev
Standards-Version: 3.8.0
Vcs-Browser: http://git.debian.org/?p=pkg-ocaml-maint/packages/ocaml-libvirt.git
Vcs-Git: git://git.debian.org/git/pkg-ocaml-maint/packages/ocaml-libvirt.git
Homepage: http://libvirt.org/ocaml/

Package: libvirt-ocaml
Architecture: any
Depends: ocaml-base-nox-${F:OCamlABI}, ${shlibs:Depends}, ${misc:Depends}
Description: OCaml bindings for libvirt
 This library provides OCaml bindings for using libvirt.
 .
 Libvirt is a toolkit to interact with the virtualization capabilities
 of recent versions of Linux (and other OSes). The library aims at providing
 a long term stable C API for different virtualization mechanisms. It currently
 supports QEMU, KVM, and XEN.
 .
 This package contains the shared library

Package: libvirt-ocaml-dev
Architecture: any
Depends: ocaml-nox-${F:OCamlABI}, libvirt-ocaml (= ${binary:Version})
Description: OCaml bindings for libvirt
 This library provides OCaml bindings for using libvirt.
 .
 Libvirt is a toolkit to interact with the virtualization capabilities
 of recent versions of Linux (and other OSes). The library aims at providing
 a long term stable C API for different virtualization mechanisms. It currently
 supports QEMU, KVM, and XEN.
 .
 This package contains the shared library
